.footer {
  background-color: burlywood;
  padding: 200px 229px 120px;

  h4 {
    color: #fbd784;
  }
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__motto {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: white;
}

.footer__copyright {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: white;
  opacity: 0.5;
}

.links__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: white;
}