.footer {
  background-color:cornflowerblue;
  padding-right: 229px;
  padding-left: 229px;
  padding-bottom: 120px;

  h4 {
    color: #fbd784;
    margin-bottom: 24px;
  }
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
}

.footer__motto {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: white;
}

.footer__copyright {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: white;
  opacity: 0.5;
}

.links__item {
  margin-bottom: 16px;
}

.links__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: white;
  margin-bottom: 16px;
}

.footer__logo {
  width: 108px;
  height: 38px;
}