.hero {
  position: relative;
  overflow: hidden;
  min-height: 1600px;

  background:
    url("/img/background/hill.png") center 840px no-repeat,
    url("/img/background/mountains.png") center 527px no-repeat,
    url("/img/background/clouds.png") center 0px no-repeat;

  background-size: 100% auto;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      330.24deg,
      rgba(11, 29, 38, 0) 31.06%,
      rgba(11, 29, 38, 1) 100%
    );
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    // background: linear-gradient(
    //   180deg,
    //   rgba(11, 29, 38, 0) 0%,
    //   rgba(11, 29, 38, 1) 61.38%,
    // );

    background: linear-gradient(
      to bottom,
      rgba(11, 29, 38, 0) 72%,
      rgba(11, 29, 38, 0.4) 82%,
      rgba(11, 29, 38, 0.8) 92%,
      #0B1D26 100%
    );

    z-index: 2;
  }
}

.hero__content {
  position: relative;
  z-index: 3;
}

.hero a {
  color: white;
}

.hero__content {
  position: absolute;
  z-index: 3;
  top: 60px;
  bottom: 60px;
  left: 80px;
  right: 80px;
  pointer-events: all;
}

.hero__socials {
  position: absolute;
  top: 359px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  span {
    writing-mode: vertical-rl;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    color: white;
  }
}

.hero__text {
  position: absolute;
  top:287px;
  left: 500px;

  .tagline {
    margin-bottom: 32px;
  }
}

.hero__title {
  font-family: Chronicle-Display;
  font-size: 88px;
  font-weight: 600;
  line-height: 100px;
  color: white;
  width: 950px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.hero__scroll-down {
  color: white;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
  display: flex;
  align-items: center;

  span {
    margin-right: 16px;
  }
}
