.hero {
  height: 1513px;
  position: relative;
  // background-color:#f0efe9;
}

.hero a {
  color: white;
}

.hero__content {
  position: absolute;
  z-index: 10;
  top: 60px;
  bottom: 60px;
  left: 80px;
  right: 80px;
  // background-color:cadetblue;
  pointer-events: all;
}

.hero__socials {
  position: absolute;
  top: 359px;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  span {
    writing-mode: vertical-rl;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    color: white;
  }
}

.hero__text {
  position: absolute;
  top:287px;
  left: 500px;

  .badge {
    margin-bottom: 32px;
  }
}

.hero__title {
  font-family: Chronicle-Display;
  font-size: 88px;
  font-weight: 600;
  line-height: 100px;
  color: white;
  width: 950px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.hero__scroll-down {
  color: white;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
  display: flex;
  align-items: center;

  span {
    margin-right: 16px;
  }
}

.hero {
  position: relative;
  min-height: 1200px;
  overflow: hidden;
}

.hero__bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(to bottom, rgba(11, 29, 38, 0) 0%, #0b1d26 85%), url(/img/background/VG.png), url(/img/background/MG.png), url(/img/background/HG.png);
    background-repeat: no-repeat;
    background-position: center, left 0 bottom 0, left 0 top 207px, top -464px left;
    background-size: 100% 100%, 100% auto, 100% auto, 100% auto;
    height: 1200px;
}
