@import "vendor/normalize";
@import "common/mixins";
@import "common/fonts";
@import "common/variables";

/* BLOCKS */
@import "blocks/hero";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy", "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color:#f0efe9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}
